<!DOCTYPE html>
<html>
<head>
<title>Knock Knock</title>
</head>
<body>
<p>You tell it jokes. It tells you jokes. It's fun!</p>
<h2><img src="knock64.png">Who's there?</h2>
<form action="/login" enctype="application/json" method="post">
<input type="text" name="login" autofocus="autofocus" />
<input type="submit" value="Log in" />
</form>
<p>That email is already used.<br>
Enter your user name to log in, <br>
or an unused email to sign up.</p>
</body>
</html>
