<!DOCTYPE html>
<html>
<head>
<title>Knock Knock</title>
</head>
<body>
<p>You tell it jokes. It tells you jokes. It's fun!</p>
<h2><img src="knock64.png">&nbsp;</h2>
<form action="/punchline" enctype="application/json" method="post">
Knock Knock<br>
 &nbsp;&nbsp;Who's there?<br>
<%= setupParam %><br>
 &nbsp;&nbsp;<b><%= setupParam %> who?</b>
<input type="text" width=40 name="punchline" autofocus="autofocus" />
<input type="submit" value="Hit me!" />
<input type="hidden" value=<%= jokeParam %> name="jokeToken" />
<input type="hidden" value="<%= setupParam %>" name="setup" />
</form>
</body>
</html>
